
<h1>consumiendo datos de una api desde un servicio</h1>


<div *ngIf="userList.length === 0; else table" class="alert alert-warning text-center">
  No hay usuarios que mostrar
</div>

<ng-template #table>
  <table class="table table-hover">
    <thead>
      <tr>

        <th scope="col"> ID: </th>
        <th scope="col"> Nombre: </th>
        <th scope="col"> Geolocalizacion:  Latitud: </th>
        <th scope="col"> Geolocalizacion: Longitud:</th>
        <th scope="col"> City: </th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of userList; let i = index">

          <td> {{ usuario.id }} </td>
          <td> {{ usuario.name }} </td>
          <td> {{ usuario.address.geo.lat }}  </td>
          <td> {{ usuario.address.geo.lng }} </td>
          <td> {{ usuario.address.city }} </td>

        </tr>

    </tbody>
  </table>
</ng-template>




